/*--FUTURE STUDENTS --*/
/*--colors--*/
#main-content .dark-purple .lead, body #main-content .ribbon.style-3 .dark-purple h2 {
  color: #41215E; }
#main-content .ribbon.style-3 .ecu-hot-pink .lead, body #main-content .ribbon.style-3 .ecu-hot-pink h2 {
  color: #77216F; }
#main-content .ribbon.style-3 .dark-teal .lead, body #main-content .ribbon.style-3 .dark-teal h2 {
  color: #004261; }
#main-content .ribbon.style-3 .AA-burnt-gold .lead, body #main-content .ribbon.style-3 .AA-burnt-gold h2 {
  color: #947024; }
#main-content .ribbon.style-3 .AA-teal .lead, body #main-content .ribbon.style-3 .AA-teal h2 {
color: #00818F; }
#main-content .ribbon.style-3 .footer-bg .lead, body #main-content .ribbon.style-3 .footer-bg h2 {
color: #6C6D68; }

/*--BTN--*/
.future-students .btn-row {
width:90%;
margin: 1.25rem auto; }

.future-students .btn-solid-outline {
width: 100%;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
border: 0 solid;
box-shadow: inset 0 0 1.25rem rgba(255, 255, 255, 0);
text-shadow: none;
transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
padding: 1.25rem 0 1.5625rem;
margin: .625rem 0; }

@media (min-width: 992px) {
.future-students .btn-solid-outline {
outline-offset: .313rem;
padding: .468rem; }}

@media (min-width: 768px) {
.future-students .btn-solid-outline {
padding: 1.25rem 0; }}

.future-students .btn-solid-outline a div {
font-size: 1rem;
display: inline-block; }

.future-students .btn-solid-outline div:after {
content: "\f054";
font-family: FontAwesome;
margin-left: .5rem; }

.future-students .btn-solid-outline a span.title {
font-weight: 700;
font-size: 2.1rem;
display:inline-block;
margin: 0;
width:40%;
padding:0 .5rem 0 0;
top: 1px;
position: relative;}

@media (min-width: 768px) {
.future-students .btn-solid-outline a span.title {
display:block;
margin: 0;
padding:0;
width:100%;
top:0;}}

@media (min-width: 992px) {
.future-students .btn-solid-outline a span.title {
display:inline-block;
margin: 0;
padding:0 .625rem 0 0;
text-align: right;
width:45%; }}

@media (min-width: 1200px) {
.future-students .btn-solid-outline a span.title {
width:50%; }}

.future-students .btn-solid-outline a span.title::before {
display: none; }

@media (min-width: 1200px) {
.future-students .btn-solid-outline a span.title::before {
display:inherit;
font-family: "FontAwesome";
content: "\f040";
color: white;
font-size: 2rem;
padding: 0; }}

.future-students .btn-solid-outline a span.subtitle {
line-height: 1em;
display: inline-block;
width:50%;
border-left: solid white 2px;
padding: 0 0 0 .5rem;
text-align:left; }

@media (min-width: 768px) {
.future-students .btn-solid-outline a span.subtitle {
width:100%;
border-left: none;
padding: .5rem 0 0;
text-align: center;
display: block;
margin: 10px auto 0;
border-top: thin solid white;
font-size: .9rem;}}

@media (min-width: 992px) {
.future-students .btn-solid-outline a span.subtitle {
display: inline-block;
width:50%;
border-left: solid white 2px;
padding: 0 0 0 .625rem;
text-align:left;
border-top: none;
margin:0; }}

body #main-content .future-students .btn-solid-outline a span.subtitle::after {
content: "\f054";
font-family: FontAwesome;
margin-left: .5rem; }

@media(max-width: 992px) and (min-width: 768px) {
body #main-content .future-students .btn-solid-outline a span.subtitle::after {
display: none; }}

.future-students .ecu-hot-pink-bg {
outline: none;
background-color: #77216F; }

@media (min-width: 768px) {
.future-students .ecu-hot-pink-bg {
 background-color: #77216F;
 outline: thin solid #77216F; }}

.future-students .dark-teal-bg {
background-color: #004261;
outline: none; }

@media (min-width: 768px) {
.future-students .dark-teal-bg {
 background-color: #004261;
 outline: 1px solid #004261; }}

.future-students .footer-bg {
background-color: #6C6D68;
outline: none; }

@media (min-width: 768px) {
.future-students .footer-bg {
 background-color: #6C6D68;
 outline: 1px solid #6C6D68; }}

body #main-content .future-students .btn-solid-outline:hover {
box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: .625rem;
text-shadow: 1px 1px 2px #427388; }

body #main-content .future-students .btn-solid-outline a {
 color: white;
 text-transform: uppercase;
 text-decoration: none;
 font-weight: 500;
 line-height: 1.3rem;
 font-family: "Oswald", sans-serif;
 border: none;
 display: block; }

body #main-content .future-students .btn-solid-outline br {
display: none; }

@media (min-width: 992px) {
body #main-content .future-students .btn-solid-outline br {
display: block;
  line-height: 0;}}

@media (min-width: 992px) {
body #main-content .future-students .btn-solid-outline .space {
display: none; }}

/*---LAYOUT---*/
body #main-content .future-students .intro-ribbon {
margin-top:-1.125rem;
padding: 1.5625rem 0;}

.future-students .bg-ecu-purple {
box-sizing:border-box;
padding: 0;
margin: 0;}

.future-students .bg-ecu-purple h2{
text-transform: uppercase;}

.image-blocks {
display: block;}

.img-block {
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.img-block-1 {
background-image: url("https://info.ecu.edu/wp-content/pv-uploads/sites/991/2018/11/Engineering_Lab-6849_1140.jpg");
display: none;}

@media (min-width: 768px) {
.img-block-1 {
display: inherit;
height: 10.438rem;}}

@media (max-width: 992px) and (min-width: 768px) {
.img-block-1 {
height:12rem;}}

.img-block-2 {
background-image: url("https://info.ecu.edu/wp-content/pv-uploads/sites/991/2018/11/Estrogen_Torres_ECHI-0020_1140.jpg");
display: none;}

@media (min-width: 768px) {
.img-block-2 {
border-left:5px solid #592a8a;
border-top:none;
display: inherit;
height: 10.438rem; }}

@media (max-width: 992px) and (min-width: 768px) {
.img-block-2 {
height: 12rem; }}

.img-block-3 {
background-image: url("https://info.ecu.edu/wp-content/pv-uploads/sites/991/2018/11/B34R0210_1140.jpg");
height: 13.750rem; }

@media (max-width: 992px) and (min-width: 768px) {
.img-block-3 {
height:38.6rem;
border-top:5px solid #592a8a; }}

@media (min-width: 992px) and (max-width: 1184px) {
.img-block-3 {
border-top:5px solid #592a8a;
height:28.15rem;
}}

@media (min-width: 1185px) {
.img-block-3 {
border-top:.3125rem solid #592a8a;
height:22.15rem}}

body #main-content .future-students .intro-text {
padding: 1rem 2.5rem; }

/*--dashboard blocks--*/
body #main-content .future-students .dashboard-item {
 outline:none;
}

.future-students .dashboard-item .dashboard-title .lead {
opacity: 1 !important;
margin: -1rem 0 1rem; }

.future-students .dashboard-item .dashboard-title ul li {
text-align:left;
list-style: none;
line-height:2rem; }

body #main-content .future-students .dashboard-item .dashboard-title ul li a{
text-decoration:none;
border-bottom:none;
color: #592a8a;
text-transform: capitalize;
transition:.5s; }

body #main-content .future-students .dashboard-item .dashboard-title ul li a:hover{
color: #be9fdf;
border-color: #be9fdf;
border-bottom: thin solid #be9fdf; }

.future-students .dashboard-item .dashboard-title ul li a::before{
content: "\f054";
font-family: FontAwesome;
margin-right: .5rem; }

#main-content .future-students .ribbon.style-3 .want-more {
text-align: center;
color:#947024; }

#main-content .future-students .ribbon.style-3 .want-more a {
color:#947024;
text-transform: Capitalize;
margin: 0 1rem;
text-decoration: none;
border-bottom : none; }

body #main-content .future-students .ribbon.style-3 .want-more a:hover{
color: #be9fdf;
border-color: #be9fdf;
border-bottom: thin solid #be9fdf; }

#main-content .future-students .ribbon.style-3 .want-more span {
display: block; }