/* RESEARCH PAGE */

body
	#main-content
		.arrow-img
			display: none
		.middle-section
			padding: 5px
		.ribbon.style-3
			.dark-purple
				.lead, h2
					color: $dark-purple
			.ecu-hot-pink
				.lead, h2
					color: $ecu-hot-pink
			.dark-teal
				.lead, h2
					color: $dark-teal
			.burnt-gold
				.lead, h2
					color: $burnt-gold
			.teal-color
				.lead, h2
					color: $teal
			.gold-grey
				.lead, h2
					color: $gold-grey



@media (min-width: 992px)
	body
		#main-content
			.arrow-img
				display: block
				margin-top: 15px
			.ecu-dark-purple-bg
				margin-bottom: 150px
				margin-top: -30px
			.middle-section
				padding: 0px 32px 0px
