
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-atom:before { content: '\e801'; } /* '' */
.icon-bomb:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-brain:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-caduceus:before { content: '\e807'; } /* '' */
.icon-calendar-date:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-chat:before { content: '\e80b'; } /* '' */
.icon-checkbox:before { content: '\e80c'; } /* '' */
.icon-checklist:before { content: '\e80d'; } /* '' */
.icon-children:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-cupola:before { content: '\e810'; } /* '' */
.icon-degree:before { content: '\e812'; } /* '' */
.icon-diploma:before { content: '\e814'; } /* '' */
.icon-dna:before { content: '\e815'; } /* '' */
.icon-dodad:before { content: '\e816'; } /* '' */
.icon-ems:before { content: '\e817'; } /* '' */
.icon-ems1:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-flame:before { content: '\e81b'; } /* '' */
.icon-form:before { content: '\e81c'; } /* '' */
.icon-gears:before { content: '\e81d'; } /* '' */
.icon-gift:before { content: '\e81e'; } /* '' */
.icon-gift1:before { content: '\e81f'; } /* '' */
.icon-globe1:before { content: '\e820'; } /* '' */
.icon-globe2:before { content: '\e821'; } /* '' */
.icon-grad:before { content: '\e822'; } /* '' */
.icon-grad1:before { content: '\e823'; } /* '' */
.icon-group:before { content: '\e825'; } /* '' */
.icon-gun:before { content: '\e826'; } /* '' */
.icon-heart-hand:before { content: '\e829'; } /* '' */
.icon-heartbeat:before { content: '\e82a'; } /* '' */
.icon-home:before { content: '\e82b'; } /* '' */
.icon-hospital:before { content: '\e82c'; } /* '' */
.icon-id-card:before { content: '\e82d'; } /* '' */
.icon-idea:before { content: '\e82e'; } /* '' */
.icon-laptop:before { content: '\e82f'; } /* '' */
.icon-light-bulb:before { content: '\e830'; } /* '' */
.icon-light-bulb1:before { content: '\e831'; } /* '' */
.icon-light-bulb2:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-masks:before { content: '\e834'; } /* '' */
.icon-megaphone:before { content: '\e836'; } /* '' */
.icon-mic:before { content: '\e837'; } /* '' */
.icon-microscope:before { content: '\e838'; } /* '' */
.icon-mobile-phone:before { content: '\e839'; } /* '' */
.icon-newspaper:before { content: '\e83b'; } /* '' */
.icon-pencil:before { content: '\e83c'; } /* '' */
.icon-phone:before { content: '\e83d'; } /* '' */
.icon-phone1:before { content: '\e83e'; } /* '' */
.icon-piggy-bank:before { content: '\e83f'; } /* '' */
.icon-pills:before { content: '\e840'; } /* '' */
.icon-pin-music:before { content: '\e841'; } /* '' */
.icon-pin:before { content: '\e842'; } /* '' */
.icon-popcorn:before { content: '\e844'; } /* '' */
.icon-presentation:before { content: '\e845'; } /* '' */
.icon-radio:before { content: '\e846'; } /* '' */
.icon-recycle:before { content: '\e847'; } /* '' */
.icon-ribbon:before { content: '\e848'; } /* '' */
.icon-science:before { content: '\e849'; } /* '' */
.icon-search:before { content: '\e84a'; } /* '' */
.icon-state-nc:before { content: '\e84c'; } /* '' */
.icon-stethoscope:before { content: '\e84d'; } /* '' */
.icon-storm:before { content: '\e84e'; } /* '' */
.icon-student:before { content: '\e84f'; } /* '' */
.icon-thread:before { content: '\e850'; } /* '' */
.icon-thread1:before { content: '\e851'; } /* '' */
.icon-tickets:before { content: '\e852'; } /* '' */
.icon-tools:before { content: '\e853'; } /* '' */
.icon-unlock:before { content: '\e854'; } /* '' */
.icon-user:before { content: '\e855'; } /* '' */
.icon-user1:before { content: '\e856'; } /* '' */
.icon-users:before { content: '\e857'; } /* '' */
.icon-users1:before { content: '\e858'; } /* '' */
.icon-vase:before { content: '\e859'; } /* '' */
.icon-volume-full:before { content: '\e85a'; } /* '' */